<div class="row">
  <div class="col-xs-12">
      <form [formGroup]="ingredientForm" (ngSubmit)="OnAddItem()">
        <div class="row">
          <span *ngIf="!ingredientForm?.valid && ingredientForm?.touched" class="help-block errorMessage">
            <span *ngIf="ingredientForm.hasError('required', 'ingredientName')">Please enter a name!</span>
            <span *ngIf="ingredientForm.hasError('required', 'ingredientAmount')">Please enter an amount !</span>
          </span>
          <div class="form-group col-sm-5">
            <label for="ingredientName">Name</label>
            <input type="text" id="ingredientName" class="form-control" formControlName="ingredientName">
          </div>
          <div class="form-group col-sm-2">
            <label for="ingredientAmount">Amount</label>
            <input type="number" id="ingredientAmount" class="form-control" formControlName="ingredientAmount">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success" type="submit" [disabled]="!ingredientForm.valid">Add</button>
            <button class="btn btn-danger" type="button" [disabled]="!editMode" (click)="OnDeleteItem()">Delete Item</button>
            <button class="btn btn-primary" type="button" (click)="OnClear()">Clear</button>
          </div>
        </div>
    </form>
  </div>
</div>
